html,body{
    margin:0;
    padding:0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/******CSS HEADER DE TOUTES LES PAGES******/
.div1{
    grid-area: 1 / 1 / 1 / 3;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self:end;
    margin:20px;
}


/******CSS CATALOGUE DE LA PAGE INDEX******/
#catalogue {
   grid-area: 2 / 1 / 3 / 3;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
    margin-top:40px;

}
.photo_article img {
    width: 70%; 
    cursor:pointer;
}
h2.index_name {
    position: relative;
    bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #aaa;
    padding:5px;
}
.index_ensavoirplus{
    position:relative;
    bottom:35px;
    background-color: coral;
    color:white;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #aaa;
    margin-bottom:25px;
}
.index_ensavoirplus:hover {
    background: #5c4f74;
}

/******CSS PAGE DESCRIPTION******/
h2.description_name {
    color: #aaa;
    font-family: 'Ubuntu', sans-serif;
    margin:50px 0 20px 50px;
}
div.description_photo img{
    width:50%;
    margin-left:50px;   
}
div.description_selectionne {
    color: #5c4f74;
    position:relative;
    bottom:180px;
    left:75%;
    font-size:120%;
}
select.description_option {
    position: relative;
    bottom: 170px;
    left: 75%;
    border: 1px solid #aaa;
}
p.description_prix {
    position: relative;
    bottom: 160px;
    left: 80%;
    font-size:25px;
    font-weight:bold;  
}
.btn_ajouter_panier {
    background-color: coral;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 270px;
    left:170%;
    padding:15px;
    border: 1px solid #aaa;
}
.btn_ajouter_panier:hover {
    background: #5c4f74;
}

/******CSS PAGE PANIER******/









