#produit li {
    /*display: flex;
    flex-direction: row;*/
    align-items: center;
    color:#7B1FA2;
    font-size: 15px;
    margin: 20px 30px 30px 20px;
    font-family: "Montserrat", sans-serif;
    background-color: aquamarine;
    /*width:200px;
    height: 100px;*/
    list-style: none;
}
#produit li img{
    width: 300px;
    height: 200px;

}
ul{
    display: flex;
    flex-direction: row;
    width:600px;
    height: 300px;
    padding: 60px;
}




